flask>=2.0.0  # مكتبة Flask لتطوير الويب
yt-dlp>=2023.3.4  # مكتبة yt-dlp لتحميل الفيديوهات
pydub>=0.25.1  # مكتبة Pydub لتحويل الفيديوهات إلى صوت
ffmpeg-python>=0.2.0  # مكتبة للتعامل مع FFmpeg لتحويل الفيديوهات
gunicorn
flask-socketio>=5.0.0

